name: Global King System Active
on:
  workflow_dispatch:
jobs:
  run-browser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y x11-utils xvfb python3-pyqt6.qtwebengine
          pip install PyQt6 PyQt6-WebEngine
      - name: Run Global Signal
        run: |
          xvfb-run --auto-servernum python main.py
